{% extends 'guohechu/temp/main.html' %}


{% block content %}
    <!--在这里开始写主界面-->

    <!--头部操作按钮-->
    <div class="content-row">

                  <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'addpassport' %}">
                        <button type="button" class="btn btn-primary btn-block">添加护照</button>
                            </a>
                    </div>
                  </div>

                </div>
    <!--头部操作按钮-->


    <!--列表开始-->
    <div class='content-row'>
        <div class=" col-md-12"></div>
        <div class="bs-example">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>出生日期</th>
                    <th>护照号</th>
                    <th>护照有效期至</th>
                    <th>护照状态</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>

                {% for passport in passports %}
                <tr  style="height: 40px;">
                    <td>

                        {{ forloop.counter }}

                    </td>
                    <td>{{ passport.name }}</td>
                    <td>{{ passport.birthday|date:'Y-m-d' }}</td>
                    <td>{{ passport.num }}</td>
                    <td>{{ passport.expire_date|date:'Y-m-d' }}</td>
                    <td>{{ passport.outin_state }}</td>
                    <td style="{margin-right: 0px;width: 30%;}">
                        <a href="{% url 'delpassport' passport.id  %}" onclick="return confirm('确定要删除吗？');">
                        <button type="button" class="btn btn-primary" style = "height: 20px;font-size: 10px;padding-top: 2px;">删除</button></a>
                        <a href="{% url 'editpassport' passport.id  %}" onclick="return confirm('确定要编辑吗？');">
                        <button type="button" class="btn btn-primary" style = "height: 20px;font-size: 10px;padding-top: 2px;">编辑</button></a>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!--列表结束-->
    <!--导航开始-->
    <div class="col-md-12">
        <ul class="pagination">
            <li class="active"><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="disabled"><a href="#">5</a></li>
            <li class="active"><a href="#">下一页</a></li>
        </ul>
    </div>
    <!--导航结束-->
    <!--在这里结束主界面-->
{% endblock %}

