<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootflat-Admin Template</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- site css -->
    <link rel="stylesheet" href="/static/utils/dist/css/site.min.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/static/utils/dist/js/html5shiv.js"></script>
      <script src="/static/utils/dist/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/utils/dist/js/site.min.js"></script>
    <script type="text/javascript" src="/static/utils/jquery_min_3.3.1.js"></script>
    <script type="text/javascript" src="/static/utils/layer/layer.js"></script>
</head>
<body>
<!--这里开始写layer的代码-->
{% block sublayer %}


{% endblock %}

<!--这里结束写layer的代码-->

</body>
</html>
