<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <ul class="list-group panel">
        <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>操作</b></li>


        <li>
            <a href="#demo1" class="list-group-item collapsed" data-toggle="collapse">护照信息 <span
                    class="glyphicon glyphicon-chevron-right"></span></a>

            <div class="collapse" id="demo1" style="height: 0px;">
                <a href="{% url 'passportlist' %}" class="list-group-item">&nbsp&nbsp&nbsp护照管理</a>
                <a href="javascript:;" class="list-group-item">&nbsp&nbsp&nbsp护照查询</a>
                <a href="javascript:;" class="list-group-item">&nbsp&nbsp&nbsp护照统计</a>
            </div>

        </li>

        <li>
            <a href="#demo2" class="list-group-item collapsed" data-toggle="collapse">借出管理 <span
                    class="glyphicon glyphicon-chevron-right"></span></a>

            <div class="collapse" id="demo2" style="height: 0px;">
                <a href="{% url 'borrowlist' %}" class="list-group-item">&nbsp&nbsp&nbsp护照借出</a>
                <a href="javascript:;" class="list-group-item">&nbsp&nbsp&nbsp护照归还</a>

            </div>

        </li>
        {% if username == 'admin' %}
        <li>
            <a href="#demo3" class="list-group-item collapsed" data-toggle="collapse">用户管理 <span
                    class="glyphicon glyphicon-chevron-right"></span></a>

            <div class="collapse" id="demo3" style="height: 0px;">
                <a href="javascript:;" class="list-group-item">&nbsp&nbsp&nbsp用户列表</a>
                <a href="javascript:;" class="list-group-item">&nbsp&nbsp&nbsp用户权限</a>
            </div>

        </li>
        {% endif %}


    </ul>
</div>