{% extends 'guohechu/temp/main.html' %}


{% block content %}
    <!--在这里开始写主界面-->
    <div class="content-row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><b>添加护照</b>
                </div>

                {#                <div class="panel-options">#}
                {#                    <a class="bg" data-target="#sample-modal-dialog-1" data-toggle="modal" href="#sample-modal"><i#}
                {#                            class="entypo-cog"></i></a>#}
                {#                    <a data-rel="collapse" href="#"><i class="entypo-down-open"></i></a>#}
                {#                    <a data-rel="close" href="#!/tasks" ui-sref="Tasks"><i class="entypo-cancel"></i></a>#}
                {#                </div>#}
            </div>

            <div class="panel-body">
                <form novalidate="" role="form" class="form-horizontal" method="POST" action="{% url 'addpassport' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">姓名</label>
                        <div class="col-md-2">
                            <input type="text" required id="pass_name" class="form-control"
                                   name="name">
                        </div>
                        <label class="col-md-1 control-label">姓名拼音</label>
                        <div class="col-md-2">
                            <input type="text" required="" id="pass_pinyin" class="form-control"
                                   name="pinyin">
                        </div>
                        <label class="col-md-1 control-label">性别</label>
                        <div class="col-md-2">
                            <input type="radio" name="sex" checked value="1">
                            男

                            <input type="radio" name='sex' value="0">
                            女
                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label">出生日期</label>
                        <div class="col-md-4">
                            <input type="date" required="" id="pass_sex" class="form-control"
                                   name="birthday">
                        </div>

                        <label class="col-md-2 control-label">护照号</label>
                        <div class="col-md-4">
                            <input type="text" required="" value="PE" id="pass_num" class="form-control"
                                   name="num">
                        </div>


                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label">签发日期</label>
                        <div class="col-md-4">
                            <input type="date" required="" id="pass_authdate" class="form-control"
                                   name="auth_date">
                        </div>

                        <label class="col-md-2 control-label">有效期至</label>
                        <div class="col-md-4">
                            <input type="date" required="" id="pass_expire" class="form-control"
                                   name="expire_date" value="">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 control-label" for="description">备注</label>
                        <div class="col-md-10">
                            <textarea required="" class="form-control" placeholder="备注" rows="3" cols="30"
                                      id="description" name="annotate">备注</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">

                            <button type="submit" class="btn btn-primary btn-block">提交</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--在这里结束主界面-->
{% endblock %}

